.cardsbox{
    display: flex;
    justify-content: space-between;
    margin: 10px
}

.cardmargin{
    margin: 10px;
}

.jumbotronfondo{
    background-color: rgb(219, 214, 214);
    display: flex;
    justify-content: center;
    padding: 25px;
}

@media (max-width: 600px) {
    .cardsbox {
      display: block;
    }
  }